---
import { getCollection } from "astro:content";
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "私のAstroブログ";
const allPosts = await getCollection("posts")
---

<BaseLayout pageTitle={pageTitle}>
  <p>ブログを投稿するページです</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
  </ul>
</BaseLayout>
