---
const platform = "github";
const username = "withastro";
const xAccount = "LoadoffI";
---
<footer>
  <p>私のプロジェクトについて詳しくは<a href={`https://www.${platform}.com/${username}`}>{platform}</a>をご確認ください!</p>
  <p>X(旧Twitter)は<a href={`https://twitter.com/${xAccount}`}>こちら</a>です。</p>
</footer>